/* Polices d'écriture */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

/* Modifier la taille de l'image */
#oeil, #oeilConfirm {
    width: auto;
    height: 18px;
    cursor: pointer;
}

body{
    font-family: 'Josefin Sans', sans-serif;
    background-color: #695cee;
    /*background-color: #c7c2ff;*/
    
}
h2,h4{
  font-family: 'Montserrat', sans-serif;
}
/* Couleur bouton connexion*/
#btnConnexion, #btnInscription{
    background-color: #695cee;
}

.colImage{
    background-color: #695cee;
}

#layoutFirst {
    flex-direction: row;
    background-color: #FBF9F6;
  }
  
  #colImage {
    background-color: #695cee;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 15px -4px #000000;
  }
  
  #btnInscription {
    transition: transform 0.5s ease-out;
  }
  
  #btnInscription:hover {
    transform: translateX(-10px);
  }

  #layoutDashboardEtudiant {
    background-color: #695cee;
    padding: 20px; /* Ajout d'un espacement interne de 20 pixels */
  }

  #title {
    padding: auto;
    text-align: center;
  }
  
  #menu {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 3.25vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #887cf4;
    border-radius: 10px;
    box-shadow: 5px 5px 15px -4px #000000;
    border: 2px solid white;
    }

    #elements {
      padding: 2vw;
    }
    
    #menu ul {
      list-style: none;
      padding: 0;
      margin: 0;
  }
  
  #menu li {
      margin-bottom: 20px;
  }
  
  #menu img {
      width: 20vh;
      height: auto;
      margin-bottom: 20px;
  }

    #dashboardTitle{
      font-family: 'Montserrat', sans-serif;
      font-size: 16px;
      color: #fff;
    }
  
    #formCandidat, #homePage{
      background-color: #f0ecf7;
      border-radius: 15px;
      border: 2px solid white;
      height: 90vh;
      margin-top: 20px;
    }

    #separation {
      width: 2%;
      flex: 0 0 auto;
    }

    #etapesInscription{
      padding-top: 5vh;
    }

    #divFormCandidat{
      padding-top: 5vh;
    }

    .formH4{
      font-family: 'Josefin Sans', sans-serif;
    }

    #nomFormation{
      padding-top: 5vh;
      font-weight: bold;
    }
    
    
    #divImageLogo {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 1;
      background-color: #695cee;
      padding-left: 3vw;
      padding-bottom: 3vh;
      border-bottom-left-radius: 50px;

      img {
        height: 15vh;
        width: auto;
        min-height: 10vh;
        max-height: 20vh;
      }
    }
    
    #itemListeInfosPZ{
      border-top-left-radius: 20px;
      border-top-right-radius: 20px;
    }
    #itemListePostuler{
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
    }

    #infosZone{
    }

    .recommanded{
      background-color: #c90054;
      margin-top: 1vh;
    }
    .colBadge{
      position: relative;
    }
    .learnMore{
      border-radius: 20px;
      border-color: white;
      position: absolute;
      bottom: 0;
      right: 0;
      margin-right: 2vw;
      margin-bottom: 1vh;
      background-color: #794dfd;
    }

    .infosBanner{
      margin-bottom: 4vh;
      background-color: #887cf4;
      border-radius: 10px;
      margin-left: 1vw;
      box-shadow: 17px 20px 15px -3px rgba(0,0,0,0.1);
    }