/* Polices d'écriture */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

/* Modifier la taille de l'image */
#oeil {
    width: auto;
    height: 18px;
    cursor: pointer;
}

body{
    font-family: 'Montserrat', sans-serif;
    /*background-color: #c7c2ff;*/
    background-color: #fff;
}

/* Couleur bouton connexion*/
#btnConnexion, #btnInscription{
    background-color: #695cee;
}

.colImage{
    background-color: #695cee;
}

#layoutFirst {
    flex-direction: row;
  }
  
  #colImage {
    background-color: #695cee;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 5px 5px 15px -4px #000000;
  }
  
  #btnInscription {
    transition: transform 0.5s ease-out;
  }
  
  #btnInscription:hover {
    transform: translateX(-10px);
  }